 .botoes {
    display: flex;
    width: 55%;
    height: 25%;
    margin-bottom: 3vh;
  }
  
  .opcoes {
    width: 50%;
    height: 100%;
    background-color: #FFF;
    position: relative; /* Importante: adicionar position relative no elemento pai */
    margin: 0vh 3vh 0vh 0vh;
    padding-left: 28px; /* Espaço para o ícone */
  }
  
  .conteudo{
    display: flex;
    width: 100%;
    height: 55%;
    background-color: #FFF;
  }

  .ancoras100 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 1.4rem;
  }

#cadastrarNovo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10% 0 10%;
    padding: 0 10% 0 10%;
    width: 40%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('assets/add_paciente.png');
}

#cadastrados::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10% 0 10%;
    padding: 0 10% 0 10%;
    width: 40%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('assets/list_paciente.png');
}